[class*="col-"] {
    background-color: blue;
    height: 40px;
    border: 1px solid white;
    color: white;
    padding: 5px;
    text-align: center;
}

.big{
    height: 40px;
}
.nested {
    background-color: green;
    border: 1px solid blue;
    height: 30px;
}